*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 50px;
  background-color: #FF9A4B;
}

main{
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.step-box{
  width: 300px;
  padding: 10px;
  margin-right: 30px;
  background-color: #EEEEEE;
  position: relative;
}

.step-box:nth-child(3){
  margin-right: 0;
}

.step1-img{
  background-image: url(img/flow01.png);
  height: 150px;
  background-size: cover;
  background-position: bottom;
}

.step2-img{
  background-image: url(img/flow02.png);
  height: 150px;
  background-size: cover;
  background-position: bottom;
}

.step3-img{
  background-image: url(img/flow03.png);
  height: 150px;
  background-size: cover;
  background-position: bottom;
}

.step-num{
  color: #EEEEEE;
  background-color: #FF9A4B;
  position: absolute;
  top: 0;
  left: 0;
}

.title{
  margin: 15px 0 5px;
}

footer{
  height: 50px;
  background-color: #AAAAAA;
}